# Jupyter Notebook
.ipynb_checkpoints/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyo
*.pyc
*.pyo
*.pyd

# Ignore the generated_dataset folder
generated_dataset/

# TensorFlow training results
*.pb
*.h5